@model estoqueMVC.Models.Produto

<div>
    <form asp-controller="Produtos" asp-action="Cadastrar" method="post">
        <label for="Nome">Nome do produto</label>
        <input type="text" name="Nome" id="Nome" />
        <label for="Preco">Preço</label>
        <input type="number" name="Preco" id="Preco" />
        <label for="Quantidade">Quantidade</label>
        <input type="number" name="Quantidade" id="Quantidade" />
        <label for="Descricao">Descricao</label>
        <input type="text" name="Descricao" id="Descricao" />
        <input type="submit" value="Cadastrar" />
    </form>
</div>